:root {
  /* cores */
  --primary-color: #feae11;
  --secondary-color: #152536;
  --light_primary: #fff;
  --light_secondary: #f0f0f0;
  --background_site: #dee2e6;

  /* espaçamentos */

  --paddingX: clamp(0.5rem, -0.0714rem + 2.8571vw, 2.5rem);
  --paddingY: 80px;
  --marginX: "";
  --marginY: "";
  --gap: "";

  /* textos */

  --title-size: clamp(2.625rem, 2.0893rem + 2.6786vw, 4.5rem);
  --subtitle-size: clamp(2rem, 1.4643rem + 2.6786vw, 3.875rem);
  --paragraph-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.container:not(#header) {
  max-width: 1334px;

  padding-left: var(--paddingX);
  padding-right: var(--paddingX);
  margin: 0 auto;
}

#results {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--background_site);
  display: grid;
  grid-template-areas:
    "first-model  ."
    ". second-model"
    "third-model .  ";
}

.results__model-card {
  display: flex;
  position: relative;
  width: clamp(16.625rem, -4.8036rem + 44.6429vw, 35.375rem);
  height: fit-content;
}

.results__model-card:nth-child(1) {
  grid-area: first-model;
  bottom: -40%;
  margin-left: clamp(5rem, 7.1429rem + -4.4643vw, 3.125rem);
}
.results__model-card:nth-child(2) {
  grid-area: second-model;
  margin-top: clamp(-3.125rem, 0.4464rem + -7.4405vw, -6.25rem);
}

.results__model-card:nth-child(3) {
  grid-area: third-model;
  top: -40%;
  margin-left: clamp(5rem, 7.1429rem + -4.4643vw, 3.125rem);
}

.results__model-card .background-img {
  width: 100%;
  height: clamp(12.5rem, -1.7857rem + 29.7619vw, 25rem);
}

.results__model-card__first-doted-background,
.results__model-card__yellow-background,
.results__model-card__second-doted-background {
  position: absolute;
  z-index: 0;
}

.results__model-card__first-doted-background {
  top: -15px;
  left: -15px;
}
.results__model-card__first-model,
.results__model-card__second-model,
.results__model-card__third-model {
  position: relative;
  z-index: 1;
}

.results__model-card__first-model img,
.results__model-card__second-model img,
.results__model-card__third-model img {
  width: 100%;
}

.results__model-card__yellow-background {
  bottom: -10px;
  right: -20px;
}

.results__model-card__second-doted-background {
  bottom: -10px;
  right: -20px;
}

.results__heading-card {
  position: absolute;
  background-color: var(--light_primary);
  border-radius: 8px;
  border: 1px solid rgba(90, 90, 90, 0.274);
  width: 500px;
  padding: 20px 40px 20px 20px;
  z-index: 3;
  right: 250px;
  top: 250px;
}
.results__heading-card h1 {
  font-size: var(--title-size);
  color: var(--secondary-color);
}
.results__heading-card h1 strong {
  color: var(--primary-color);
}

/* @media (max-width: 1024px) {
  #results {
    grid-template-areas:
      "first-model .  "
      ". . second-model"
      "third-model . .  ";
  }
}
 */
